██████╗░███████╗██╗░██████╗░███╗░░██╗ Portfolio Website
██╔══██╗██╔════╝██║██╔════╝░████╗░██║ Copyright (c) 2023 Daniel Aguiar
██████╔╝█████╗░░██║██║░░██╗░██╔██╗██║ Licensed under the MIT License
██╔══██╗██╔══╝░░██║██║░░╚██╗██║╚████║
██║░░██║███████╗██║╚██████╔╝██║░╚███║ Source:
╚═╝░░╚═╝╚══════╝╚═╝░╚═════╝░╚═╝░░╚══╝ https://github.com/yo-reign/zig-portfolio-website
